<?xml version="1.0" encoding="utf-8"?>
<DataDriven>
    <test>测试百度登录</test>
    <failLogin1 username="" password="" expected="请您填写手机/邮箱/用户名" />
    <failLogin2 username="admin" password="" expected="请您填写密码" />
    <failLogin3 username="admin" password="admin" expected="请输入验证码" />
    <login username="Baidu account" password="Baidu account password" niCheng="nickname"></login>

    <kb>淘宝账户登录</kb>
    <mai>外卖</mai>

    <!--wordpress参数化的数据-->
    <wordpress username="admin" passwd="admin"></wordpress>
    <passwd>错误：admin 的密码不正确。忘记密码了？</passwd>
    <userDiv>错误：无效用户名。忘记密码？</userDiv>
    <wen title="automation" content="自动化测试技术"></wen>
    <exit>您已登出。</exit>

</DataDriven>
